body {
    margin: 0;
    background-color: rgb(255, 244, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.mainHeader {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.boardGrid {
    width: 60vw;
    height: 70vh;
    background-color: black;
    display: grid;
    grid: repeat(3, 32.2%) / repeat(3, 33.2%);
    gap: 10px;
    padding: 5px;
    justify-content: center;
    margin-top: -30px;
}

.gridPiece {
    background-color: white;
    font-size: 75px;
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.gridPiece h1 {
    margin-top: -20px;
}

.gridPiece:hover {
    background-color: rgb(202, 201, 201);
}

#blurScreen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayOut {
    content-visibility: hidden;
}

.winScreen {
    background-color: white;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    border: 3px solid black;
}

.winScreen h2 {
    font-size: 45px;
    margin: -15px;
}

.winScreen button {
    width: 55%;
    height: 30%;
    font-size: 38px;
    border-radius: 20px;
    background-color: rgb(0, 255, 242);
    border: 1px solid rgb(0, 255, 242);
}